body{
    display: flex;
    height: 100vh;
    margin: 0px;
    background-color: #91E5F6;
    font-family:Arial, Helvetica, sans-serif;
}
.header__content{
    display:flex;
    width: 100%;
    background-color: #91E5F6;
    height:300px;
}

.main__screen {
    width: 100%;
}

.content__box{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    height: 50vh;
    width: 100%;
    background-color: #386FA4;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}

.navbar {
    display: flex;
    overflow: hidden;
    background-color: #133C55;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    justify-content: space-between;
  }
  .navbar a {
    float:left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: rgb(54, 3, 3);
  }
  
  .main {
    margin-top: 30px;
  }

  .botbar {
    background-color: #133C55;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    display:flex;
  }
  
  .botbar a {
    display: block;
    width:25%;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
  }
  
  .botbar a:hover {
    background: #ddd;
    color: rgb(54, 3, 3);
  }
  
 
  .navbar button{
    float:right;
    display:block;
    background: none;
    border:none;
  }
  .settings__img{
    padding:20px;
    width:30px;
    height:30px;
}
#task__manager, #group, #shop{
    display:none;
}
.subject{
    margin-top:10px;
    justify-content:center;
    width:90%;
    height:50px;
    background-color: #133C55;
    border:none;
    border-radius:15px;
}
.name__subject{
    float:right;
    margin-top:4px;
    color:white;
    font-weight:bolder;
    font-size:18px;
    letter-spacing:1px;
}
.logo__subject{
    float:left;
    background-color:#59A5D8;
    width:30px;
    height:30px;
    border-radius:20px;
}